/*
required for the layout to draw corectly
*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

.menubar {
    background-image:'';
    background-color:#FFFFFF;
    }

.field-type {
    width: 5em;
}

.selector {
    width: 2em;
}


