/*
required for the layout to draw corectly
*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

.menubar {
    background-image:'';
    background-color:#FFFFFF;
    }

.application .dgrid-no-data, .dgrid-loading {
    color: #aaa;
    font-size: 3em;
    padding: 3em;
    text-align: center;
}

.application .header {
    height: auto;
    color: #759DC0;
    background-color: white;
    font-family: arial, verdana, sans-serif;
}