<div>
    <div data-dojo-attach-point="header"
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region:'top', 
        				 class:'header'">
            <h1><b>${name}</b></h1>

		<div data-dojo-type="dijit/MenuBar" 
			data-dojo-attach-point="mainMenu",
			data-dojo-props="class:'menubar'" >
		</div>
		
    </div>
    
	<div div data-dojo-attach-point="application"
		data-dojo-type="dijit/layout/BorderContainer"
		data-dojo-props="region:'center',
						 liveSplitters:true">
		
    	<div data-dojo-type='dijit/layout/AccordionContainer'
    		 data-dojo-props="region:'leading',
    					 	  splitter:true,
    					 	  style:'width: 300px;'"
    					 	  
    		 data-dojo-attach-point='accordContainer'>
    	</div>
    	
		<!--NOTE, HERE I'M USING MY CUSTOM WIDGET DIRECTLY-->
    	<div data-dojo-type="dojotestapp/widget/my_dGrid"
    		data-dojo-attach-point="gridNotify"
   			data-dojo-props="region:'center',
				 			 splitter:false">
    	</div>

    	<div 	data-dojo-attach-point='main'
				data-dojo-type='dijit/layout/ContentPane'
				data-dojo-props="splitter:true,
								 region:'trailing',
								 style:'height:300px,width:100%'">
	
	    		<button data-dojo-attach-point='setButton'
					data-dojo-type="dijit/form/Button"
					data-dojo-props="region:'center'">press me</button>
			
			    <input data-dojo-attach-point='docName'
			    	   data-dojo-type="dijit/form/TextBox"
			    	   data-dojo-props="region:'center'">
		</div>
	</div>		
		<div data-dojo-attach-point='footer'
			data-dojo-type='dijit/form/TextBox'
			data-dojo-props="region:'bottom'">
		</div>
</div>